.login2{
    background: url(../images/imagen_login.png) center !important;
}

.content {
    min-height: 300px;
}

.row.botonera {
    margin-bottom: 20px;
    right: 0;
    position: relative;
}

.row.botonera a{
    position: relative;
    right: 20%;
    float: right;
    margin-left: 10px;
}

.row.botonera_form {
    margin-bottom: 40px !important;
    right: 0;
    position: relative;
    top: 10px;
}

.row.botonera_form a{
    position: relative;
    right: 40%;
    float: right;
    margin-left: 10px;
}

.boton_alert{
    margin-left: 14%;
    width: 78%;
}

.boton_alert a{
    margin-bottom: 10px;
}

.deplegar{
    cursor:pointer;
    font-size: 2em;
}

.detalle_tabla{
    border: 2px solid #55A2A6;
}

.detalle_tabla th{
    background-color: #151515;
    color: white;
    padding-left: 10px;
}

@media only screen and (max-width: 450px) { 
    .row.botonera_form a{    
        right: 30%;        
    }
}

@media only screen and (max-width: 340px) { 
    .row.botonera_form a{    
        right: 17%;        
    }
    
    .boton_alert{
        margin-left: 25%;
        width: 50%;
    }
}