.login2{
    background: url(../images/imagen_login.png) center !important;
}

.content {
    min-height: 300px;
}

.row.botonera {
    margin-bottom: 20px;
    right: 0;
    position: relative;
}

.row.botonera a{
    position: relative;
    right: 20%;
    float: right;
    margin-left: 10px;
}

.row.botonera_form {
    margin-bottom: 40px !important;
    right: 0;
    position: relative;
    top: 10px;
}

.row.botonera_form a{
    position: relative;
    right: 40%;
    float: right;
    margin-left: 10px;
}

@media only screen and (max-width: 450px) { 
    .row.botonera_form a{    
        right: 30%;        
    }
}

@media only screen and (max-width: 340px) { 
    .row.botonera_form a{    
        right: 17%;        
    }
}